$primary-blue: #08A6E4;
$color-red: #FB3B64;
$color-green: #55DFB4;
$color-shadow: 0px 3px 6px #00000029;
$color-white: #FFFFFF;
$color-grey: #A5A5A5;
$color-light-grey: #F7F7F7;
$color-border-benefits: #E8E9ED;
$color-limited: #13253B;
$color-consent: #707070;
$color-form-line: #95989A;