.pricing {
  display: flex;
  justify-content: center;

  &__container {
    margin: 50px auto;

    @include notebook {
      margin: 100px auto 75px auto;
      display: flex;
      flex-direction: column;
      max-width: 1024px;
    }
  }

  &__title {
    font-size: 2.25rem;
    font-weight: 400;
    font-family: $font-Raleway;
    text-align: center;
    margin-bottom: 15px;
  }

  &__boxes {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include notebook {
      flex-direction: row;
    }
  }

  &__box {
    border-radius: 18px;
    border: 1px solid;
    margin-bottom: 54px;
    padding: 25px 10px 0 10px;

    &:last-of-type {
      margin-bottom: 0;

      @include notebook {
        margin-bottom: 54px;
      }
    }
  }

  &__box--normal {
    width: 293px;

    @include notebook {
      width: 372px;
    }
  }

  &__box--basic {
    border-color: $color-red;
  }

  &__box--professional {
    width: 339px;
    border-color: $primary-blue;
    box-shadow: 5px 10px 27px #07ACE629;

    @include notebook {
      width: 405px;
      height: 430px;
      margin-left: 40px;
      margin-right: 40px;
    }
  }

  &__box--premium {
    border-color: $color-green;
  }

  &__box--content {
    display: flex;
    justify-content: center;
    align-items: center;

    @include notebook {
      flex-direction: column;
    }
  }

  &__details {
    text-align: center;
    margin-right: 23px;

  }

  &__type {
    font-family: $font-Raleway;
    font-size: 1.25rem;
    font-weight: 700;
    color: $color-limited;

    @include notebook {
      margin-bottom: 14px;
    }
  }

  &__price {
    font-family: $font-OpenSans;
    font-weight: 300;
    font-size: 2.875rem;
  }

  &__price--basic {
    color: $color-red;

    @include notebook {
      margin-bottom: 70px;
    }
  }

  &__price--professional {
    color: $primary-blue;
  }

  &__price--premium {
    color: $color-green;
  }

  &__limited {
    font-family: $font-Raleway;
    font-size: .75rem;
    font-weight: 700;
    color: $color-limited;

    @include notebook {
      margin-top: 5px;
    }
  }

  &__limited--professional {
    @include notebook {
      margin-bottom: 60px;
    }
  }

  &__limited--premium {
    @include notebook {
      margin-bottom: 50px;
    }
  }

  &__items {
    font-family: $font-OpenSans;
    font-weight: 400;
    font-size: 0.875rem;

    @include notebook {
      text-align: center;
    }
  }

  &__item {
    margin-bottom: 20px;

    &:last-of-type {
      margin-bottom: 0;

      @include notebook {
        margin-bottom: 30px;
      }
    }

    &::before {
      content: "";
      display: inline-block;
      width: 11px;
      height: 11px;
      background-image: url("../assets/Ckechmark-1.svg");
      margin-right: 10px;
    }
  }

  &__item--not {

    &::before {
      content: "";
      display: inline-block;
      width: 11px;
      height: 11px;
      background-image: url("../assets/Close.svg");
    }
  }
}