.benefits {
  background-color: $color-light-grey;

  &__container {
    padding: 40px 30px;
  }

  &__single {
    background-color: $color-white;
    border-radius: 5px;
    margin-bottom: 40px;
  }

  &__image {

  }
}

&__notebook {
  width: 192px;
}

&__phone {
  width: 175px;
}

&__title {
  font-family: $font-Raleway;
  font-weight: 400;
  font-size: 1.875rem;
  padding: 26px 21px 20px 21px;
}

&__text {
  font-family: $font-OpenSans;
  font-weight: 400;
  font-size: 0.875rem;
  padding: 0 21px 30px 21px;
  line-height: 1.375rem;
}

&__single--image {
  background-color: $color-green;
  margin-top: -40px;
  display: flex;
  justify-content: center;
  flex-grow: 1;

  img {
    width: 295px;
    margin-top: 60px;
    margin-left: -18px;
  }
}
